<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summarize Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">
      $(function() {
        $('#tab a[href="#tab-url"]').tab('show');

        $('#btn-summarize').on('click', function(e) {
          $('#summarized').empty()

          var isUrl = $('#tab').find('.active>a[href=#tab-url]').length == 1;
          var query = {
            'sent_limit': $('#sentence-limit').val(),
          };
          if (isUrl) {
            query['url'] = $('#url').val();
          } else {
            query['text'] = $('#text').val().replace(/[\n|^\u3000]/g, '');
          }

          fetchSummary(query);
          console.log(query);
        });

        function fetchSummary(query) {
          $.ajax({
            type: 'GET',
            url: '/api/summarize.json',
            data: query,
          })
          .done(function(data) {
            $(data['summary']).each(function(index, line) {
              $('#summarized').append('<li>' + line + '</li>');
            });
          })
          .fail(function(xhr) {
            $('#summarized').html('<h1>Failed.</h1>');
          });
        };
      });
    </script>
  </head>
  <body>
    <div class="container">
      <table>
        <tr>
          <td>テキスト</td>
          <td>
            <ul id="tab" class="nav nav-tabs">
              <li><a href="#tab-url" data-toggle="tab">URL</a></li>
              <li><a href="#tab-text" data-toggle="tab">テキスト</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab-url">
                <input id="url" class="span10" type="text" placeholder="https://www.example.com">
              </div>
              <div class="tab-pane fade in active" id="tab-text">
                <textarea id="text" class="span10" rows="6" cols="80"></textarea>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>最大要約行数</td>
          <td><input id="sentence-limit" type="number" value="3" min="1" max="10"></td>
        </tr>
        <tr>
          <td></td>
        <td><button id="btn-summarize" class="btn">要約</button></td>
        </tr>
        <tr>
          <td>要約結果</td>
          <td>
            <ul id="summarized">
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
